[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "~=3.11.1"
django-cors-headers = "~=3.4.0"
psycopg2 = "==2.8.5"
daphne = "==2.5.0"
django-rest-auth = "==0.9.5"
django-allauth = "==0.42.0"
dj-config-url = "~=0.1.1"
Django = "~=3.1"
rest_condition = "~=1.0.3"
drf-rw-serializers = "~=1.0.4"

[requires]
python_version = "3.8"
